html, body {
  margin: 0;
  height: 100%;
  overflow: hidden;
  background: black;
}

#bgVideo {
  position: fixed;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

#overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1;

  display: flex;
  justify-content: center;
  align-items: center;

  color: white;
  font-family: Arial, sans-serif;
  font-size: 5rem;
  text-shadow: 0 0 20px black;
}
